@font-face {
  font-family: "iconfont"; /* Project id 4481248 */
  src: url('iconfont.woff2?t=1715863816351') format('woff2'),
       url('iconfont.woff?t=1715863816351') format('woff'),
       url('iconfont.ttf?t=1715863816351') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shexiangtou_guanbi:before {
  content: "\eca5";
}

.icon-shexiangtou:before {
  content: "\eca6";
}

.icon-shengyinkai:before {
  content: "\eca7";
}

.icon-shengyinwu:before {
  content: "\eca8";
}

.icon-shengyinjingyin:before {
  content: "\eca9";
}

.icon-xia:before {
  content: "\e60a";
}

.icon-close:before {
  content: "\e624";
}

.icon-more:before {
  content: "\e61b";
}

.icon-plus-border:before {
  content: "\e627";
}

.icon-likai:before {
  content: "\e646";
}

.icon-a-17Afasong:before {
  content: "\e67d";
}

