.drawer-modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(74, 74, 74, 0.784);
  z-index: 9999;
  .drawer-main {
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: .2s;
    .drawer-title {
      padding: 8px 16px;
      width: 100%;
      display: flex;
      align-items: center;
      flex: none;
      font-size: 40px;
      gap: 10px;
      color: #1b1b1b;
      box-shadow: 1px 1px 8px #dedede;
    }

    .drawer-body {
      flex: 1;
    }
  }
}